<% if activity.trackable %>
    <p><%= link_to activity.owner.username.capitalize, user_path(activity.owner.username.capitalize) %> posted something <%= time_ago_in_words(activity.created_at) %> ago</p>
<% end %>